* {
  box-sizing: border-box;
}
:root {
  --black: #121212;
  --dark-blue: #19202d;
  --white: #ffffff;
  --grey100: #e7eaee;
  --grey200: #cfcfcf;
  --grey400: #676d7e;
  --grey500: #48556a;
  --purple50: #ede4ff;
  --purple300: #a775f1;
  --purple500: #733fc8;
}

.text-preset-1 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.text-preset-2 {
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.text-preset-3 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.text-preset-4 {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 110%;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: var(--grey100);
  display: flex;
  justify-content: center;
}
img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
h2 {
  margin: 0;
}
blockquote {
  margin: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%); /* Modern rectangular clipping */
  clip: rect(0, 0, 0, 0); /* Fallback for legacy browser support */
  white-space: nowrap;
  border: 0;
}
.container {
  display: grid;
  width: 90%;
  row-gap: 32px;
  margin: 93px 0;
  .card {
    width: 100%;
    padding: 32px;
    box-shadow: 0px 15px 13px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .card-top {
    display: flex;
    justify-content: space-between;
    .card-author {
      display: flex;
      flex-direction: column;
    }
  }
  .card:nth-of-type(1) {
    background-color: var(--purple500);
    p:first-of-type {
      color: white;
    }
    p:last-of-type {
      color: var(--purple50);
    }
    .card-top {
      width: 121px;
      .author {
        color: var(--white);
      }
      .verified {
        color: var(--purple50);
      }
    }
  }
  .card:nth-of-type(2) {
    background-color: var(--grey500);
    p:first-of-type {
      color: white;
    }
    p:last-of-type {
      color: var(--grey100);
    }
    .card-top {
      width: 136px;
      .author {
        color: var(--white);
      }
      .verified {
        color: var(--grey200);
      }
    }
  }
  .card:nth-of-type(3) {
    background-color: var(--white);
    p:first-of-type {
      color: var(--grey500);
    }
    p:last-of-type {
      color: var(--grey400);
    }
    .card-top {
      width: 134px;
      .author {
        color: var(--grey500);
      }
      .verified {
        color: var(--grey400);
      }
    }
  }
  .card:nth-of-type(4) {
    background-color: var(--dark-blue);
    p:first-of-type {
      color: var(--grey200);
    }
    p:last-of-type {
      color: var(--grey100);
    }
    .card-top {
      width: 124px;
      .author {
        color: var(--white);
      }
      .verified {
        color: var(--white);
      }
    }
  }
  .card:nth-of-type(5) {
    background-color: var(--white);
    p:first-of-type {
      color: var(--grey500);
    }
    p:last-of-type {
      color: var(--grey400);
    }
    .card-top {
      width: 121px;
      .author {
        color: var(--grey500);
      }
      .verified {
        color: var(--grey400);
      }
    }
  }
}
#first-card-wrapper {
  position: relative;
  z-index: 1;
}
#first-card-wrapper::before {
  position: absolute;
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 102px;
  height: 104px;
  margin-right: 5px; /* Adds space between the icon and text */
  background-image: url("../images/bg-pattern-quotation.svg");
  background-size: contain; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  top: -30px;
  right: 0;
  z-index: -1;
}
@media (min-width: 767px) {
  .container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    .card:nth-of-type(1),
    .card:nth-of-type(4),
    .card:nth-of-type(5) {
      grid-column: span 2;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 32px;

    .card:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 1/2;
    }
    .card:nth-of-type(2) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .card:nth-of-type(3) {
      grid-row: 2 / 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .card:nth-of-type(4) {
      grid-row: 2 / 3;
      grid-column: 2/ 4;
    }
    .card:nth-of-type(5) {
      grid-row: 1/3;
      grid-column: 4/5;
    }
  }
}
