* {
  box-sizing: border-box;
}
:root {
  --black: #121212;
  --dark-blue: #19202d;
  --white: #ffffff;
  --grey100: #e7eaee;
  --grey200: #cfcfcf;
  --grey400: #676d7e;
  --grey500: #48556a;
  --purple50: #ede4ff;
  --purple300: #a775f1;
  --purple500: #733fc8;
}

.text-preset-1 {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.text-preset-2 {
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.text-preset-3 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.text-preset-4 {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 110px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  width: 100vw;
  background-color: var(--grey100);
  display: flex;
  justify-content: center;
  .container {
    display: grid;
    width: 305px;
    row-gap: 32px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 32px;
      .card-author {
        background-color: tomato;
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
        height: 14px;
      }
    }
    .card:nth-of-type(1) {
      background-color: var(--purple500);
      p:first-of-type {
        color: white;
      }
      p:last-of-type {
        color: var(--purple50);
      }
    }
    .card:nth-of-type(2) {
      background-color: var(--grey500);
      p:first-of-type {
        color: white;
      }
      p:last-of-type {
        color: var(--grey100);
      }
    }
    .card:nth-of-type(3) {
      background-color: var(--white);
      p:first-of-type {
        color: var(--grey500);
      }
      p:last-of-type {
        color: var(--grey400);
      }
    }
    .card:nth-of-type(4) {
      background-color: var(--dark-blue);
      p:first-of-type {
        color: var(--grey200);
      }
      p:last-of-type {
        color: var(--grey100);
      }
    }
    .card:nth-of-type(5) {
      background-color: var(--white);
      p:first-of-type {
        color: var(--grey500);
      }
      p:last-of-type {
        color: var(--grey400);
      }
    }
  }
}
